<!DOCTYPE html>
<html>
<head>
    <title>Laboratory Vault</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <form id="authForm" action="/login" method="POST">
        <i class="fas fa-lock fa-3x"></i>
        <h1>Laboratory Vault</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <div>
            <button type="submit" id="loginBtn"><span>Login</span></button>
        </div>
    </form>
    <div id="overlay" class="hidden"></div>
<div id="popup" class="hidden">
    <div id="popupHeader">
        <div>Error</div>
        <span id="closePopup"><i class="fas fa-times"></i></span>
    </div>
    <p>Incorrect credentials. Please try again.</p>
</div>
    <script>
        document.getElementById('closePopup').addEventListener('click', hidePopup);
        document.getElementById('overlay').addEventListener('click', hidePopup);

        function hidePopup() {
            document.getElementById('popup').classList.add('hidden');
            document.getElementById('overlay').classList.add('hidden');
        }

        document.getElementById('authForm').addEventListener('submit', function(event) {
    event.preventDefault();

    fetch('/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: new URLSearchParams(new FormData(event.target))
    }).then(function(response) {
        if (response.status === 401) {
            // If the server responded with status 401, show the popup
            document.getElementById('popup').classList.remove('hidden');
            document.getElementById('overlay').classList.remove('hidden');

            document.querySelector('input[name="username"]').value = '';
            document.querySelector('input[name="password"]').value = '';
            checkInput();
        } else {
            // If the server responded with a different status, redirect to the response URL
            window.location.href = response.url;
        }
    });
});
        var usernameField = document.querySelector('input[name="username"]');
        var passwordField = document.querySelector('input[name="password"]');
        var loginButton = document.getElementById('loginBtn');
        loginButton.disabled = true;

        function checkInput() {
    if (usernameField.value.length > 0 && passwordField.value.length > 0) {
        loginButton.style.backgroundColor = '#008000'; // green
        loginButton.disabled = false; // enable the button
    } else {
        loginButton.style.backgroundColor = '#FF0000'; // red
        loginButton.disabled = true; // disable the button
    }
}
        usernameField.addEventListener('input', checkInput);
        passwordField.addEventListener('input', checkInput);
        document.getElementById('loginBtn').addEventListener('click', function() {
            document.getElementById('authForm').action = '/login';
        });
    </script>
</body>
</html>