<!DOCTYPE html>
<html>
<head>
    <title>Laboratory Vault</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <form id="authForm" action="/login" method="POST">
        <i class="fas fa-lock fa-3x"></i>
        <h1>Laboratory Vault</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <div>
            <button type="submit" id="loginBtn"><span>Login</span></button>
        </div>
    </form>
    <div id="overlay" class="hidden"></div>
    <div id="errorPopup" class="hidden popup">
        <div class="popupHeader">
            <div>Error</div>
            <span id="closeErrorPopup"><i class="closeButton fas fa-times"></i></span>
        </div>
        <p>Incorrect credentials. Please try again.</p>
    </div>
    <div id="authPopup" class="hidden popup">
        <div id="authPopupHeader" class="popupHeader">
            <div>Authenticating</div>
        </div>
        <p>Waiting for authentication...</p>
    </div>
    <script>
        document.getElementById('closeErrorPopup').addEventListener('click', hidePopup);
        document.getElementById('overlay').addEventListener('click', hidePopup);

        function hidePopup() {
            document.getElementById('errorPopup').classList.add('hidden');
            document.getElementById('overlay').classList.add('hidden');
        }

        function showErrorPopup(message) {
            // Set the error message
            document.querySelector('#errorPopup p').textContent = message;
            // Show the error popup and the overlay
            document.getElementById('errorPopup').classList.remove('hidden');
            document.getElementById('overlay').classList.remove('hidden');

            document.querySelector('input[name="username"]').value = '';
            document.querySelector('input[name="password"]').value = '';
            checkInput();
        }

        function checkInput() {
            if (usernameField.value.length > 0 && passwordField.value.length > 0) {
                loginButton.style.backgroundColor = '#008000'; // green
                loginButton.disabled = false; // enable the button
            } else {
                loginButton.style.backgroundColor = '#FF0000'; // red
                loginButton.disabled = true; // disable the button
            }
        }

        // Check if there's an error message
        <% if (typeof error !== 'undefined') { %>
        // If there's an error message, show the error popup with the message
        showErrorPopup('<%= error %>');
        <% } %>

        document.getElementById('authForm').addEventListener('submit', function(event) {
            event.preventDefault();

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(new FormData(event.target))
            }).then(function(response) {
                if (response.status === 401) {
                    // If the server responded with status 401, show the popup
                    showErrorPopup('Incorrect credentials. Please try again.');
                } else if (response.status === 200) {
                    // If the server responded with status 200, make a fetch request to the /auth route
                    fetch('/auth', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },

                    }).then(function(authResponse) {
                        console.log("Test:    " + authResponse);
                        if (!authResponse.ok) {
                            // If the /auth route responded with status 401, show the popup
                            showErrorPopup('Authentication failed. Please try again.');
                        } else {
                            // If the /auth route responded with a different status, redirect to the response URL
                            window.location.href = authResponse.url;
                        }
                    });
                } else {
                    // If the server responded with a different status, redirect to the response URL
                    window.location.href = response.url;
                }
            });
        });
        var usernameField = document.querySelector('input[name="username"]');
        var passwordField = document.querySelector('input[name="password"]');
        var loginButton = document.getElementById('loginBtn');
        loginButton.disabled = true;

        usernameField.addEventListener('input', checkInput);
        passwordField.addEventListener('input', checkInput);
        document.getElementById('loginBtn').addEventListener('click', function() {
            document.getElementById('authForm').action = '/login';
        });
    </script>
</body>
</html>