/* Base (Light Theme) */
:root {
  --background-color: #F0F2F5;
  --text-color: #050505;
  --card-background-color: #FFFFFF;
  --card-text-color: #050505;
    --card-border-color: #E0E0E0;
  --button-background-color: #007BFF; /* Blue */
  --button-text-color: #FFFFFF;
  --button-hover-background-color: #0056b3;
  --button-hover-text-color: #FFFFFF;
  --input-background-color: #FFFFFF;
  --input-text-color: #050505;
  --input-border-color: #CCCCCC;
  --accent-color: #4CAF50; /* Green */
  --accent-color-light: #80E27E;
  --accent-color-dark: #087F23;
  --link-color: #007BFF;
  --link-hover-color: #0056b3;
  --spinner-color: #000;
  --header-background-color: #FFFFFF;
  --header-border-color: #E0E0E0;
}

/* Dark Theme */
body.dark-mode {
  --background-color: #1A1A1A;
  --text-color: #E0E0E0;
  --card-background-color: #242424;
  --card-text-color: #E0E0E0;
  --card-border-color: #2E2E2E;
  --button-background-color: #0481fd;
  --button-text-color: #FFFFFF;
  --button-hover-background-color: #0060DF;
  --button-hover-text-color: #FFFFFF;
  --input-background-color: #333333;
  --input-text-color: #E0E0E0;
  --input-border-color: #555555;
  --accent-color: #22bf72;
  --accent-color-light: #B9F6CA;
  --accent-color-dark: #00C853;
  --link-color: #0A84FF;
  --link-hover-color: #0060DF;
  --spinner-color: #fff;
  --header-background-color: #242424;
  --header-border-color: #333333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow: hidden;
}

.centered-component-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  color : var(--card-text-color);
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 20px; /* Rounded corners */
  padding: 10px 15px; /* Padding inside the input field */
  outline: none; /* Remove the default browser outline */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

input:focus {
  border-color: var(--accent-color); /* Change border color on focus */
}

.error-message {
  color: #a61a1a;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 10px;
  outline: none;
  text-align: center;
}

a.button-like {
  display: inline-block;
  padding: 8px 15px;
  margin: 5px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

a.button-like:hover, a.button-like:focus {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #ffffff;
  text-decoration: none;
}