/* Define your light theme colors */
:root {
  --background-color: white;
  --card-border-color: #ddd;
  --text-color: #333333; /* Dark Grey */
  --card-background-color: #ffffff; /* White */
  --card-text-color: #333333; /* Dark Grey */
  --button-background-color: #4CAF50; /* Green */
  --button-text-color: white;
  --button-hover-background-color: #45a049; /* Darker Green */
  --button-hover-text-color: white;
  --input-text-color: #333333; /* Dark Grey */
  --input-border-color: #ddd;
  --accent-color: #007BFF; /* Light Blue */
  --accent-color2: #0851a9;
  --input-background-color: #dddddd; /* Light Grey */
}

/* Define your dark theme colors */
body.dark-mode {
  --background-color: #1a1a1a;
  --card-border-color: #555;
  --header-background-color: #333333; /* Dark Grey */
  --text-color: #f0f0f0; /* Light Grey */
  --card-background-color: #444444; /* Slightly Lighter Dark Grey */
  --card-text-color: #f0f0f0; /* Light Grey */
  --button-background-color: #555555; /* Dark Grey */
  --button-text-color: #f0f0f0; /* Light Grey */
  --button-hover-background-color: #333333; /* Darker Grey */
  --button-hover-text-color: #f0f0f0; /* Light Grey */
  --input-text-color: #f0f0f0; /* Light Grey */
  --input-border-color: #555;
  --accent-color: #007BFF; /* Dark Blue */
  --accent-color2: #0851a9;
  --input-background-color: #333333; /* Dark Grey */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow: hidden;
}

.card {
  color : var(--card-text-color);
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}
input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 20px; /* Rounded corners */
  padding: 10px 15px; /* Padding inside the input field */
  outline: none; /* Remove the default browser outline */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

input:focus {
  border-color: var(--accent-color); /* Change border color on focus */
}