body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* darker background */
    color: #ffffff; /* white text for higher contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form {
    background-color: #2c2c2c; /* darker form background */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
input[type="text"], input[type="password"], input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
}
input[type="text"], input[type="password"] {
    background-color: #3c3c3c; /* darker input background */
    color: #ffffff; /* white text for higher contrast */
}
input[type="submit"] {
    background-color: #e74c3c; /* brighter button color for higher contrast */
    color: #ffffff; /* white text for higher contrast */
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #c0392b; /* darker hover color */
}
.container-fluid {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 25px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}


.jumbotron {
    margin: 20px;
    border-radius: 25px; /* Add this line */
    padding: 20px;
    background-color: #333;
}

.row {
    margin: 0;
}

.card {
    margin: 20px;
    border-radius: 25px; /* Add this line */
}
.top-panel {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #333;
}

.logbutton {
    background-color: #e74c3c;
    color: #ecf0f1;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logbutton:hover {
    background-color: #c0392b;
}
.lab-vault {
    flex-grow: 1;
    color: white;
    padding: 10px 0;
    text-align: center; /* Add this line */
    font-size: 24px; /* Add this line */
}
.content {
    text-align: center;
}
.error-message {
    background-color: #2c2c2c; /* darker form background */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}
.fas.fa-lock {
    font-size: 3em;
    color: #e74c3c;
}